
$theme-colors: (
  "primary": #a8dfd7,
) ;
$border-radius: 1.8rem !default;
$dropdown-border-radius: $border-radius 1.5rem;
$dropdown-color: #a8dfd7;
 
.btn-primary {
  color: #fff;
  background-color:#a8dfd7;
  border-color: #0d6efd;
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";