
@media (min-width: 240px) {
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.navbar{
    position: fixed ;
    max-width: 100px;
    height: 2vh;
    align-items: center;

.navbar-dark{
    margin-left: 5px;
    max-width: 100px;
.container-fluid {
    max-width: 100px;
}

}
}
img{
    max-height: 70%;
}
}
.center_div {
    display: flex ;
    justify-content: center;
}
section{

    margin-left: 150px;
    background-color: rgb(81, 199, 183);
}
footer {
    background-color: transparent !important;
    img { 
        max-width: 70px;
        display: flex;
        justify-content: flex-end;
        
}
}
span {
    font-weight: $bold
    ;
}



.margin{
    display: flex;
    justify-content: end;
    align-items: center;
}
row {
    border: solid 1px rgb(255, 145, 0);
    border-radius: 1.5rem;
}